.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
    .timer-section{
        display: flex;
        width: 50%;
        justify-content: space-between;
    }
}